#header {
  width: 100%;
  max-width: 100vw;
  z-index: 999;
}

#main {
  width: 100%;
  flex-grow: 1;
  display: flex;
}

#main > #aside {
  position: relative;
  min-width: 5.125rem;
  z-index: 998;
}

#main > #content {
  flex-grow: 1;
  padding-top: 5em;
}